/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { GeneratedClient } from "../generatedClient";
import {
  ApplicationSummary,
  ApplicationListNextOptionalParams,
  ApplicationListOptionalParams,
  ApplicationListResponse,
  ApplicationGetOptionalParams,
  ApplicationGetResponse,
  ApplicationListNextResponse
} from "../models";

/** Class representing a Application. */
export class Application {
  private readonly client: GeneratedClient;

  /**
   * Initialize a new instance of the class Application class.
   * @param client Reference to the service client
   */
  constructor(client: GeneratedClient) {
    this.client = client;
  }

  /**
   * This operation returns only Applications and versions that are available for use on Compute Nodes;
   * that is, that can be used in an Package reference. For administrator information about applications
   * and versions that are not yet available to Compute Nodes, use the Azure portal or the Azure Resource
   * Manager API.
   * @param options The options parameters.
   */
  public list(
    options?: ApplicationListOptionalParams
  ): PagedAsyncIterableIterator<ApplicationSummary> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: ApplicationListOptionalParams
  ): AsyncIterableIterator<ApplicationSummary[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.odataNextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.odataNextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: ApplicationListOptionalParams
  ): AsyncIterableIterator<ApplicationSummary> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * This operation returns only Applications and versions that are available for use on Compute Nodes;
   * that is, that can be used in an Package reference. For administrator information about applications
   * and versions that are not yet available to Compute Nodes, use the Azure portal or the Azure Resource
   * Manager API.
   * @param options The options parameters.
   */
  private _list(
    options?: ApplicationListOptionalParams
  ): Promise<ApplicationListResponse> {
    const operationArguments: coreHttp.OperationArguments = {
      options: coreHttp.operationOptionsToRequestOptionsBase(options || {})
    };
    return this.client.sendOperationRequest(
      operationArguments,
      listOperationSpec
    ) as Promise<ApplicationListResponse>;
  }

  /**
   * This operation returns only Applications and versions that are available for use on Compute Nodes;
   * that is, that can be used in an Package reference. For administrator information about Applications
   * and versions that are not yet available to Compute Nodes, use the Azure portal or the Azure Resource
   * Manager API.
   * @param applicationId The ID of the Application.
   * @param options The options parameters.
   */
  get(
    applicationId: string,
    options?: ApplicationGetOptionalParams
  ): Promise<ApplicationGetResponse> {
    const operationArguments: coreHttp.OperationArguments = {
      applicationId,
      options: coreHttp.operationOptionsToRequestOptionsBase(options || {})
    };
    return this.client.sendOperationRequest(
      operationArguments,
      getOperationSpec
    ) as Promise<ApplicationGetResponse>;
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: ApplicationListNextOptionalParams
  ): Promise<ApplicationListNextResponse> {
    const operationArguments: coreHttp.OperationArguments = {
      nextLink,
      options: coreHttp.operationOptionsToRequestOptionsBase(options || {})
    };
    return this.client.sendOperationRequest(
      operationArguments,
      listNextOperationSpec
    ) as Promise<ApplicationListNextResponse>;
  }
}
// Operation Specifications
const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const listOperationSpec: coreHttp.OperationSpec = {
  path: "/applications",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApplicationListResult,
      headersMapper: Mappers.ApplicationListHeaders
    },
    default: {
      bodyMapper: Mappers.BatchError
    }
  },
  queryParameters: [
    Parameters.maxResults,
    Parameters.timeout,
    Parameters.apiVersion
  ],
  urlParameters: [Parameters.batchUrl],
  headerParameters: [
    Parameters.accept,
    Parameters.clientRequestId,
    Parameters.returnClientRequestId,
    Parameters.ocpDate
  ],
  serializer
};
const getOperationSpec: coreHttp.OperationSpec = {
  path: "/applications/{applicationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApplicationSummary,
      headersMapper: Mappers.ApplicationGetHeaders
    },
    default: {
      bodyMapper: Mappers.BatchError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.timeout1],
  urlParameters: [Parameters.batchUrl, Parameters.applicationId],
  headerParameters: [
    Parameters.accept,
    Parameters.clientRequestId1,
    Parameters.returnClientRequestId1,
    Parameters.ocpDate1
  ],
  serializer
};
const listNextOperationSpec: coreHttp.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApplicationListResult,
      headersMapper: Mappers.ApplicationListNextHeaders
    },
    default: {
      bodyMapper: Mappers.BatchError
    }
  },
  queryParameters: [
    Parameters.maxResults,
    Parameters.timeout,
    Parameters.apiVersion
  ],
  urlParameters: [Parameters.batchUrl, Parameters.nextLink],
  headerParameters: [
    Parameters.accept,
    Parameters.clientRequestId,
    Parameters.returnClientRequestId,
    Parameters.ocpDate
  ],
  serializer
};
